* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

$brand-color: #0282f9;

a {
    &:link {text-decoration: none};
    &:visited {text-decoration: none};
    &:active {text-decoration: none};
    &:hover {text-decoration: none};
}

img {
    display: block;
}

ul {
    list-style: none;
}

.up-case {
    text-transform: uppercase;
}