* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

$brand-color: #0282f9;
$black-variant: #1c1c1c;
$grey-light: #959595;
$grey-dark: #303030;


a {
    color: black;
    &:link {text-decoration: none};
    &:visited {text-decoration: none};
    &:active {text-decoration: none};
    &:hover {text-decoration: none};
}

img {
    display: block;
}

ul {
    list-style: none;
}

.up-case {
    text-transform: uppercase;
}

.button {
    display: inline-block;
}

.main-btn {
    color: #ffffff;
    border: 2px solid $brand-color;
    background-color: $grey-dark;
    font-weight: bold;
    padding: 10px;
}

.alt-btn {
    color: #ffffff;
    background-color: $brand-color;
    font-weight: bold;
    padding: 10px 30px;
}