.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.just-sp-bt {
    justify-content: space-between;
}

.just-sp-ctr {
    justify-content: center;
}

.align-ctr {
    align-items: center;
}



.ml-10 {
    margin-left: 10px;
}

.mt-2 {
    margin-top: 2px;
}

.mt-25 {
    margin-top: 25px;
}